on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

name: Validate on PR

jobs:
  validate-json:
    name: Validate JSON files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --no-save

      - name: Validate schema
        run: bun validate:schema

      - name: Validate logic
        run: bun validate:networks

      - name: Generate registry types
        run: bun generate:types

      - name: Generate registry
        run: bun generate:registry

      - name: Validate resulting registry against the schema
        run: bun validate:registry

    env:
      REGISTRY_ROOT_URL: "https://graphregistry.pages.dev"
